# Ignore files with these extensions
*.swp
*.out
*.DS_Store
.ipynb_checkpoints/
CLAUDE.md
Manifest.toml

!plots/
!data/

.venv/
plots/*
data/*
*.jld2
*.h5

!plots/README.md
!data/README.md
!plots/example/

assets/
